.note{
    width: 30%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(#f6f6f6, #ebebeb);
    margin: 5px;
    border-radius: 5px;
    box-shadow: 2px -2px 2px lightgray;
    .body{
        width: calc(100% - 8px);
        height: 160px;
        .head{
            height: 40px;
            padding: .5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;

            h4{
                margin: 0;
                text-align: left;
                text-transform: capitalize;
                width: fit-content;

                &.red{color: #f26666}
                &.green{color: #a0dc87}
                &.blue{color: #2fa9e1}
                &.orange{color: #ff9a7e}
                &.purple{color: #eae3ea}
                &.light-blue{color: #38d4d0}
            }
            .actions{
                .icon-ed{
                    width: 20px;
                    height: auto;
                    margin-right: .5rem;
                    margin-top: .5rem;
                    cursor: pointer;
                    background: linear-gradient(#f6f6f6, #ebebeb);
                    border: 1px ridge lightgray;
                }
                .icon-del{
                    width: 15px;
                    height: 17px;
                    margin-right: .5rem;
                    cursor: pointer;
                    background: linear-gradient(#f6f6f6, #ebebeb);
                    border: 1px ridge lightgray;

                }
            }
        }
        .text{
            height: 90px;
            padding: 0 .5rem;
            p{
                margin: 0;
                text-align: left;
                word-wrap: break-word;
                overflow-y: auto;
                height: 90px;
            }
        }
        .foot{
            height: 30px;
            padding: .5rem;
            border-top: 1px ridge lightgray;
            p{
                margin: 0;
                text-align: left;
                font-size: 12px;
            }
        }
    }
    .color{
        width: 8px;
        height: 150px;
        border-radius: 5px 0 0 5px;

        &.red{background: #f26666}
        &.green{background: #a0dc87}
        &.blue{background: #2fa9e1}
        &.orange{background: #ff9a7e}
        &.purple{background: #eae3ea}
        &.light-blue{background: #38d4d0}
    }
}