.form-input {
  margin: 10px 0px;
}

.input-text {
  color: #b5b5b5;
  font-size: 0.8em;
  text-align: start;
  padding-bottom: 5px;
}

.input {
  background: #f8f8f8;
  color: #767676;
  height: 3em;
  border: 1px solid #e4e4e4;
  padding: 5px;
}

.button{
  width: 9em;
  height: 3em;
  background-color: #3cc6f8;
  color: white;
  border: none;
  border-radius: 0.3em;
}

input:focus, select:focus{
  outline: none;
}

.--full-width {
  width: 100%;
}

.--buttom-shadow-light {
  box-shadow: 0 4px 4px -2px lightgray;
}

.--buttom-shadow-medium {
  box-shadow: 0 4px 2px -2px lightgray;
}